@model WWW.ViewModels.PageModel
@{
    Model.Meta.Title = "Технологическая платформа / ArachneCMS";
    //TODO:Metas
    Model.Meta.OpenGraph.Add("url", this.Request.Url.ToString());
    Model.Meta.OpenGraph.Add("title", Model.Meta.Title);
    Model.Meta.OpenGraph.Add("image", this.Request.Url + "/instrumenty.jpg");
    Model.Meta.OpenGraph.Add("description", "Какую платформу и инструменты для разработки не выбери, всегда найдутся те, кто тебя поддержит и те, кто предаст анафеме. У нас нет никаких предубеждений относительно тех или иных средств достижения цели, а также сакральных знаний, какое из них лучше или хуже.");
}

<div class="page-title">
    <div class="container">
        <h1>Технологическая платформа</h1>
        <ul class="breadcrumb">
            <li><a href="/">В начало</a></li>
            <li><a class="todo" href="#/ru/about">О проекте</a></li>
        </ul>
    </div>
</div>

<div class="container main-content clearfix">
    <img src="/ru/o-proekte/platforma/instrumenty.jpg" alt="Инструменты" class="image-right" />

    <p>
        Какую платформу и инструменты для разработки не выбери, всегда найдутся те, кто тебя
        поддержит и те, кто предаст анафеме. У нас нет никаких предубеждений относительно тех
        или иных средств достижения цели, а также сакральных знаний, какое из них лучше или хуже.
    </p>
    
    <p>
        Вместо них у нас есть <a href="/ru/o-proekte/sistema-tsennostey">система ценностей</a>.
        Кооторая мотивирует попробовать самых разных кандидатов в стремлении находить более
        элегантные, простые, производительные и просто безрассудные решения. Как знать, может
        мы завтра попробуем язык программирования LISP и он перевернет все наши представления
        о том, как на самом деле должна выглядеть система контент-менеджмента.
    </p>

    <p>
        Безусловно, нам понадобится стартовая платформа, от которой начнется наше движение. Но в
        процессе мы будем стараться создавать систему из компонент, легко поддающихся замене.
        Окружать их всевозможными текстами и метриками, которые позволят дать объективную оценку
        тем результатам, которые эти компоненты продемонстрируют.
    </p>
    <p>
        У многих из нас уже чешутся руки, чтобы попробовать различные языки программирования,
        СУБД, очереди сообщений и другие инструменты не на синтетических тестах, а в условиях,
        приближенных к боевым.
    </p>

    <a id="2013-12" title="2013.12"></a>
    <h2>2013.12</h2>
    <p>
        Прототипирование было начато c фреймворка веб-приложений Microsoft ASP.NET MVC. В качестве
        систем управления базами данных панируются Microsoft SQL Server и PostgreSQL. Причины
        выбора были достаточно просты &mdash; с ними мы знакомы лучше всего. А значит можно дать
        результат достаточного качества, чтобы использовать его в роли некоторого эталона для
        дальнейшего сравнения.
    </p>
</div>
