@model WWW.ViewModels.PageModel
@{
    Model.Meta.Title = "Система ценностей / ArachneCMS";
    //TODO:Metas
    Model.Meta.OpenGraph.Add("url", this.Request.Url.ToString());
    Model.Meta.OpenGraph.Add("title", Model.Meta.Title);
    Model.Meta.OpenGraph.Add("image", this.Request.Url + "/tsennost.jpg");
    Model.Meta.OpenGraph.Add("description", "Система ценностей часто ассоциируется с клише, которым скорее оперируют выпускники школ менеджмента, нежели разработчики ПО. Но в отличие от многих других бизнес-парадигм это та, что может оказать нам неоценимую помощь.");
}

<div class="page-title">
    <div class="container">
        <h1>Система ценностей</h1>
        <ul class="breadcrumb">
            <li><a href="/">В начало</a></li>
            <li><a class="todo" href="#/ru/about">О проекте</a></li>
        </ul>
    </div>
</div>

<div class="container main-content clearfix">
    <img src="/ru/o-proekte/sistema-tsennostey/tsennost.jpg" alt="Наша система ценностей" class="image-right" />

    <div class="testimonials">
        <div class="testimonial-item">
            <p>
                Любой организации нужна система ценностей, но эффективной организации она нужна особенно.
            </p>
            <div class="testimonials-arrow"></div>
            <div class="author"><a href="http://ru.wikipedia.org/wiki/%D0%A3%D1%8D%D0%BB%D1%87,_%D0%94%D0%B6%D0%B5%D0%BA" target="_blank"><span class="color">Джек Уэлч</span></a>, General Electric</div>
        </div>
    </div>

    <p>
        Система ценностей часто ассоциируется с клише, которым скорее оперируют выпускники школ
        менеджмента, нежели разработчики ПО. Но в отличие от многих других бизнес-парадигм это
        та, что может оказать нам неоценимую помощь.
    </p>
    
    <p>
        Система ценностей &mdash; первая линия обороны, на которую приходится удар, когда перед
        нами встает вопрос принятия решений или поддержки идей. Она позволяет автоматизировать
        большинство этих процессов, просто пропуская их через себя, как через фильтр. Когда
        возникает дилемма, то верным окажется тот путь, который быстрее пройдет испытания
        ценностями. И вот, вместо длительных раздумий мы теряем лишь считанные минуты, подтверждая
        тезис Джека Уэлча об эфективности.
    </p>

    <p>
        Ценности образуют систему координат в мире профессиональных ориентиров. Позволяют находить
        и притягивать тех людей, которые их с нами разделяют. И это:
    </p>

    <a id="smelost" title="Смелость"></a>
    <h2>Смелость</h2>
    <p>
        Если реализовывать управление контентом как все, то и результат получится как у всех, что
        не имеет никакого смысла. Нужно уметь рисковать, чтобы получить качественно новый продукт.
        Оборотной стороной этой медали является и более высокая вероятность ошибок. Но оно того
        стоит.
    </p>

    <p>
        Попытки отклониться от существующих норм и правил могут вызывать опасения, предостережения
        и даже интенсивную критику. Смелость понадобится для того, чтобы продолжить свой курс не
        смотря на возможные факторы сопротивления. Которое всегда приходит, чтобы проверить
        инакомыслие на прочность.
    </p>

    <p>
        В этом плане мы как дети. Хватаемся за все интересное, не слушаемся старших, которые нас
        предостерегают от этого, обжигаемся, но в следующий раз поступаем точно также.
    </p>

    <a id="prostota" title="Простота"></a>
    <h2>Простота</h2>
    <p>
        Чтобы описать понимание простоты на примере кода нам понадобилось отдельное
        <a href="/ru/blog/2014-01-30-prostota-koda">рассуждение</a>. И, резюмируя его, хочется,
        чтобы разработка, развертывание, эксплуатация, обновление, использование и любые иные
        действия с ArachneCMS тратили как можно меньше наших с вами нервных клеток.
    </p>

    <a id="krasota" title="Красота"></a>
    <h2>Красота</h2>
    <p>
        Хочется упиваться элегантностью каждой строчки кода. Еле удерживаться, чтобы не облизнуть
        элементы пользовательского интерфейса. Читать документацию как художественный бестселлер
        и завороженно смотреть демо-видео.
    </p>

    <p>
        Конечно, красота &mdash; слишком субъективна. И никогда не наступит тот день, когда её
        интерпретация в нашем исполнении устроит всех. Но это не мешает нам быть одержимыми
        поиском того щекочущего чувства, которое предвещает её появление. И уж по крайней мере
        бороться с очевидными проявлениями всего безобразного.
    </p>

    <a id="proizvoditelnost" title="Производительность"></a>
    <h2>Производительность</h2>
    <p>
        Когда разработчики нарочито забывают о вопросах производительности, то создается ощущение,
        что они залезают к тебе в карман. Воруя время, раздувая расходы на хостинг. Если бы
        скорость WordPress была на 10% выше, то это спасло бы миллионы деревьев. А, работая с
        медлительными сайтами, мы постоянно находимся в зоне дискомфорта.
    </p>
    <p>
        Поэтому ArachneCMS разрабатывается, держа постоянно производительность в уме. Речь не идет
        о параноидальной гонке за микросекундами или о преждевременной оптимизации. Мы стремимся к
        комплексному подходу, когда в анализ вовлекается гораздо больше факторов. Ведь многие
        забывают, что производительность определяется умением эффективно использовать <u>все</u>
        имеющиеся ресурсы. А у скорости есть множество проявлений, как скорость отклика, например.
    </p>
</div>
