@model WWW.ViewModels.PageModel
@{
    Model.Meta.Title = "Система ценностей - ArachneCMS";
    //TODO:Metas
}

<div class="page-title">
    <div class="container">
        <h1>Система ценностей</h1>
        <ul class="breadcrumb">
            <li><a href="/">В начало</a></li>
            <li><a href="/ru/about">О проекте</a></li>
        </ul>
    </div>
</div>

<div class="container main-content clearfix">
    <div class="eight columns">
        <div class="testimonials">
            <div class="testimonial-item">
                <p>
                    Любой организации нужна система ценностей, но эффективной организации она нужна особенно.
                </p>
                <div class="testimonials-arrow"></div>
                <div class="author"><a href="http://ru.wikipedia.org/wiki/%D0%A3%D1%8D%D0%BB%D1%87,_%D0%94%D0%B6%D0%B5%D0%BA" target="_blank"><span class="color">Джек Уэлч</span></a>, General Electric</div>
            </div>
        </div>

        <p>
            Система ценностей часто ассоциируется с клише, которым очередные выпускники
            MBA сыплют на каждом шагу. Но в отличие от многих других бизнес-парадигм
            это то, что нам может пригодиться. Система ценностей &mdash; первая линия
            обороны, на которую приходится удар, когда перед нами встает вопрос выбора
            или поддержки. Она позволяет автоматизировать принятие большинства решений,
            просто пропуская их через себя как через фильтр.
        </p>
    </div>

    <div class="eight columns">
        <img src="/ru/about/vision/values.jpg" alt="Наша система ценностей" />
    </div>

    <div class="sixteen columns top-1">
        <p>
            В этом и заключается эффективность, о которой говорил Джек Уэлч.

            @*TODO:*@
            Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
    @*TODO:
                 В
                течение всего процесса разработки нас будет атаковать множество вопросов.

                Выработав и затем сделав достоянием гласности свою систему ценностей,
                организация некоторым образом автоматизирует подбор персонала, поскольку она
                начинает притягивать только тех людей, которые разделяют с ней эти ценности.*@
        </p>
    </div>

    <div class="clear"></div>

    <h2>Простота</h2>
    @*TODO:*@

    <h2>Красота</h2>
    @*TODO:*@

    <h2>Скорость</h2>
    @*TODO:*@
</div>
