@model WWW.ViewModels.PageModel
@{
    Model.Meta.Title = "Система ценностей - ArachneCMS";
    //TODO:Metas
}

<div class="page-title">
    <div class="container">
        <h1>Система ценностей</h1>
        <ul class="breadcrumb">
            <li><a href="/">В начало</a></li>
            <li><a href="/ru/about">О проекте</a></li>
        </ul>
    </div>
</div>

<div class="container main-content clearfix">
    <p>
        TODO:
    </p>
</div>
