@model WWW.ViewModels.PageModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    Model.Meta.Title = "Arachne CMS";
    Model.Meta.Author = "Stanislav S. Yarmonov";
    //TODO:Metas
}
<div class="slider-1 clearfix">
    <div class="flex-container">
    <div class="flexslider loading">
    <ul class="slides">
        <li class="slide-bg-color">
          
        <div class="container">
        <div class="sixteen columns contain">
            
            <h2 data-toptitle="25%">Добро пожаловать на сайт Arachne CMS</h2>
            <p data-bottomtext="25%">
                На данный момент это только заглушка сайта, находящегося в разработке. Ниже будет
                регулярно обновляться перечень различных материалов, отражающий текущее положение дел.
            </p>
             
            @*<img src="images/img/sliders/slider-1/slider-item-2.png" class="item" data-topimage="8%"/>*@
            <img src="images/img/sliders/logo-slide.png" class="item" data-topimage="8%"/>
           
        </div>
        </div><!-- End Container -->
          
        </li><!-- End item -->
         
        <li class="slide-bg-color">
          
        <div class="container">
        <div class="sixteen columns contain">
            
            <h2 data-toptitle="25%">Если вы хотите принять участие в проекте</h2>
            <p data-bottomtext="40%">
                То обращайтесь на почту или сразу вливайтесь в разработку через GitHub-репозиторий.
            </p>
            <div class="links" data-bottomlinks="20%">
                <a href="mailto:contact@arachne-cms.com" class="button medium normal">Написать</a>
                <a href="https://github.com/Yarmonov/ArachneCMS" class="button medium black">GitHub</a>
            </div>
             
            <img src="images/img/sliders/slider-1/slider-item-2.png" class="item" data-topimage="8%"/>
            @*<img src="images/img/sliders/slider-1/slider-item-4.png" class="item" data-topimage="9%"/>*@
        </div>
        </div><!-- End Container -->
          
        </li><!-- End item -->
         
    </ul>
    </div>
    </div>
     
</div><!-- End slider -->

<div class="container main-content clearfix">
    <h2>Дорожная карта</h2>
    <ol>
        <li>
            Vision проекта
            <ol>
                <li>
                    <a href="/ru/o-proekte/sistema-tsennostey">Система ценностей</a>
                    <ol>
                        <li>
                            <a href="/ru/blog/2014-01-30-prostota-koda">Простота кода</a>
                        </li>
                    </ol>
                </li>
                <li>
                    <a href="/ru/o-proekte/platforma">Технологическая платформа</a>
                </li>
            </ol>
        </li>
        <li>
            Архитектура &mdash; получаем данные
            <ol>
                <li>
                    <a href="/ru/wiki/gravitatsiya-koda">Гравитация кода</a>
                </li>
                <li>Принципы SOLID</li>
                <li>Хранимые процедуры &mdash; это SOLIDно</li>
            </ol>
        </li>
    </ol>
</div>

<div class="container main-content clearfix">
    <h2>Источники актуальной информации</h2>
    <ul>
        <li>
            <strong>Github</strong>: <a href="https://github.com/Yarmonov/ArachneCMS">https://github.com/Yarmonov/ArachneCMS</a>
        </li>
        <li>
            <strong>Twitter</strong>: <a href="https://twitter.com/ArachneCMS">https://twitter.com/ArachneCMS</a>
        </li>
        <li>
            <strong>Facebook</strong>: <a href="https://www.facebook.com/arachne.cms">https://www.facebook.com/arachne.cms</a>
        </li>
        <li>
            <strong>Google+</strong>: <a href="https://plus.google.com/+arachne-cms">https://plus.google.com/+arachne-cms</a>
        </li>
        <li>
            <strong>Youtube</strong>: <a href="http://www.youtube.com/channel/UC0iJx0egCCuLG5NUmG1uZlA">http://www.youtube.com/channel/UC0iJx0egCCuLG5NUmG1uZlA</a>
        </li>
    </ul>

    <h2>Контакты</h2>
    <ul>
        <li>
            <strong>E-mail</strong>: <a href="mailto:contact@arachne-cms.com">contact@arachne-cms.com</a>
        </li>
    </ul>
</div>
