@model WWW.ViewModels.PageModel
@{
    Model.Meta.Title = "Станислав С. Ярмонов - ArachneCMS";
    //TODO:Metas
}

<div class="page-title">
    <div class="container">
        <h1>Станислав С. Ярмонов</h1>
        <ul class="breadcrumb">
            <li><a href="#TODO:/ru">В начало</a></li>
            <li><a href="#TODO:/ru/contact">Контакты</a></li>
        </ul>
    </div>
</div>

<div class="container main-content clearfix">
    <strong>E-mail:</strong> <a href="mailto:stanislav@yarmonov.pro">stanislav@yarmonov.pro</a>

    @*TODO:*@
</div>
